.logo{
    width: auto;
    height: auto;
    max-width: 40%;
}
.NavbarTop{
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(15deg, #C33764 0%, #1D2671 100%);
}

.logoName{
    font-size: 250%;
}