.NavbarHosteller{
    font-size: 200%;
    margin-bottom: 1%;
    margin-top: 0%;
    padding-top: 0%;
    background-image: linear-gradient(15deg, #C33764 0%, #1D2671 100%);
}
.navItemCss{
    font-size: 100%;
}
